body {
  font-family: "Arial", Arial;
  font-size: 14px;
}
.title {
  text-align: center;
  color: rgb(252, 0, 0);
  font-size: 36px;
}
.rules {
  margin: 0px 0px 10px 0px;
  text-align: center;
  color: rgb(22, 128, 242);
}

#squares {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.square {
  border-radius: 3px;
  width: 30px;
  height: 30px;
  border: 1px solid #000000;
  position: absolute;
}

div.button {
  top: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100px;
}
.startbutton {
  padding: 2px;
  width: 160px;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  color: rgb(16, 20, 242);
  background-color: rgb(240, 246, 83);
  border-radius: 5px;
}
.startbutton:hover {
  background-color: rgb(78, 235, 25);
  color: black;
  font-size: 18pt;
}

#windiv,
#losediv {
  display: none;
}

#display_tempo{
  margin-bottom: 10px;
}
.timer {
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: rgb(78, 235, 25);
  background-color: #333;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  margin: 0 auto; /* Added to center the timer horizontally */
  }
  

