body {
  font-family: "Arial", Arial;
  font-size: 14px;
}
.title {
  text-align: center;
  color: rgb(252, 0, 0); 
  font-size: 36px;
}
.rules {
  margin: 0px 0px 10px 0px;
  text-align: center;
  color: rgb(22, 128, 242);
}

#squares {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.square {
  border-radius: 3px;
  width: 30px;
  height: 30px;
  border: 1px solid #000000;
  position: absolute;
  
}

div.button {
  top: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100px;
}
.startbutton {
  width: 170px;
  height: 60px;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  color: #000;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
}
.startbutton:hover {
  box-shadow: inset 0 0 0 4px #fbc40f, inset 0 0 0 8px #87ff66,
    inset 0 0 0 12px #06d6a0, inset 0 0 0 16px #118ab2;
  background: #073b4c;
  color: #fff;
}

#windiv,
#losediv {
  display: none;
}

#display_tempo {
  margin-bottom: 10px;
}
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: rgb(78, 235, 25);
  background-color: #333;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  margin: 0 auto; /* Added to center the timer horizontally */
}
